/* start section heading */
.section-heading {
  text-align: center;
  color: #5f5950;
  width: 50%;
  margin: 30px auto 20px;
  padding: 10px 0;
}
.section-heading h2 {
  font-family: "Satisfy", cursive;
  font-size: 32px;
  font-weight: 700;
}
.section-heading p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.section-heading h2 span {
  color: #ffb03b;
}
/* end section heading */
/* start booking table seciotn */
.booking {
  padding: 50px 0;
}
.booking .section-heading span.book {
  color: #000;
  background-color: #fd9e10;
}
.booking form {
  padding: 30px;
  box-shadow: 0 0 8px #cfc3b2;
}
.booking form .btn-container {
  text-align: center;
}
.booking form .btn-container .btn {
  background-color: #ffb03b;
  padding: 10px 40px;
  border-radius: 20px;
  margin: 20px auto;
}
.booking form .btn-container .btn:hover {
  background-color: #be770b;
}
.booking form .btn-container .btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.booking form textarea {
  resize: none;
}
/* end booking table seciotn */
/* start gallery section */
.gallery {
  padding: 50px 0;
}
.gallery .row .col-md-6 {
  overflow: hidden;
}
.gallery .row .gallery-item {
  overflow: hidden;
  cursor: pointer;
}
.gallery .row .gallery-item img {
  transition: transform 0.3s ease-in-out;
  display: block;
}
.gallery .row .gallery-item:hover img {
  transform: scale(1.1);
}
/* end gallery section */
/* START MAIN COMPONENTS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffb03b;
}

a:hover {
  color: #ffc56e;
  text-decoration: none;
}

.main-title {
  width: 40%;
  margin-inline: auto;
}

@media screen and (max-width: 767px) {
  .main-title {
    width: 80%;
    margin-inline: auto;
  }
}

/* END MAIN COMPONENTS */

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-bg {
  background-color: white;
  padding: 60px 0;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: #ffb03b;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/* START EVENTS SECTION */
.events {
  background-image: url(../imgs/events-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.events .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-block: 4rem;
}

.events .events-text span {
  position: relative;
}

.events .events-text span::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #ffc107;
  bottom: 0;
}

.events .carousel-indicators {
  position: static;
  margin-top: 1rem;
}

.events .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: aliceblue;
}

.events .carousel-indicators .active {
  opacity: 1;
  background-color: #ffc107;
}

/* END EVENTS SECTION */

/* START CHEFS SECTION */
.chefs {
  background-image: url(../imgs/chefs-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.chefs .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding-block: 4rem;
}

.chefs .chef-info {
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  padding: 1rem 0;
  text-align: center;
}

.chefs .chef-info h4 {
  position: relative;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
  color: #6c665c;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.chefs .chef-info h4::before {
  position: absolute;
  height: 1px;
  width: 60px;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffc107;
}

.chefs .chef-info p {
  font-style: italic;
  font-size: 13px;
}

.chefs .chef-info a svg {
  transition: 0.3s;
}

.chefs .chef-info a:hover svg {
  color: #ffc107;
}

.chef-carousel {
  background-image: url(../imgs/testimonials-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.chef-carousel .layout {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-block: 4rem;
}

/* END CHEFS SECTION */

/* START TESTIMONIALS SECTION */
.testi-img {
  padding: 0.5rem 0;
}

.testi-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 1px 9px #f0f8ff1f;
}

.testi-title h3,
.testi-title h4 {
  font-family: "Poppins", sans-serif;
}

.testi-title h3 {
  font-size: 20px;
  font-weight: bold;
}

.testi-title h4 {
  font-size: 14px;
  color: #ddd;
}

.chef-carousel .carousel-indicators {
  position: static;
  margin-top: 1rem;
}

.chef-carousel .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: aliceblue;
}

.chef-carousel .carousel-indicators .active {
  opacity: 1;
  background-color: #ffc107;
}

/* END TESTIMONIALS SECTION */

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact .info-wrap {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

#contact .info {
  color: #ffc107;
  font-size: 1.25rem;
}

#contact .info:hover i {
  background: #ffb03b;
  color: #fff;
  width: 44px;
  height: 44px;
}

#contact .info i {
  background-color: #fff6e8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #433f39;
  font-family: "Poppins", sans-serif;
}

#contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #7a7368;
}

#contact .email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

#contact .email-form .form-group {
  padding-bottom: 8px;
}

#contact .email-form input,
#contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .email-form input {
  height: 44px;
}

#contact .email-form textarea {
  padding: 10px 12px;
}

#contact .email-form button {
  background: #ffb03b;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  margin-top: 10px;
}

#contact .email-form button:hover {
  background: #ffa012;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  background: #35322d;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #ffb03b;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #46423b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ffb03b;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}
